<div class="input-group-prepend">
  <button type="submit" class="btn btn-outline-secondary">
    {{fa-icon 'check' ariaLabel=(t 'confirm')}}
  </button>
</div>
<input id={{id}} type='text' class="form-control form-control-lg" value={{label}} aria-label={{label}} >