<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        {{account-carousel accounts=accounts currentSlide=currentSlide onChangeSlide=(action onChangeSlide)}}
      </div>
    </div>
  </div>
</section>
{{log 'carouselAccounts' accounts}}